
// The p7 and p5 PCR rows/columns used. p7 order should be matched in p5
params.p7_rows = 'D E G H A D'
params.p5_cols = '4 5 7 8 10 11'

// The run directory where the sequencing data is
params.run_dir = "/net/bbi/vol1/seq/nextseq/190222_NS500773_0289_AHMJGTBGX7"

// The output directory
params.output_dir = "/net/bbi/vol1/data/hpliner/2lvl_20190222"

// demux_out directory
params.output_dir = "/net/bbi/vol1/data/hpliner/2lvl_20190222/demux_out"


/*  Sample sheet in csv format with 3 columns, RT Barcode, Sample ID and
    Reference Genome to be mapped against

For example:

RT Barcode,Sample ID,Reference Genome
2P5-A01,Brain Fresh N Tris,Mouse
2P5-A02,Brain Fresh Y Tris,Mouse
2P5-A03,Brain Frozen N Tris,Mouse

*/
params.sample_sheet = "/net/bbi/vol1/data/hpliner/2lvl_20190222/SampleSheet.csv"

// The maximum number of cores to be used per job on the cluster
params.max_cores = 8

// The maximum number of processes to run at the same time on the cluster
process.maxForks = 20

// Choosing total alignment memory
params.align_mem = 60

// Mention if data is 2-level or 3-level
params.level = 2

// The queue on the cluster where the jobs should be submitted
process.queue = 'ravana.q'

// Rerun samples. If you want to rerun only certain samples (starting with trimming), add:
params.rerun = ["sampleid1", "sampleid2"]

// Add path to custom genomes files
params.star_file = "/net/bbi/vol1/data/hpliner/2lvl_20190222/custom_star.txt"
params.gene_file = "/net/bbi/vol1/data/hpliner/2lvl_20190222/custom_gene_file.txt"
