// NOTE: This example file is the same for bbi-dmux and bbi-sci. Some parameters
// are only required in one process or the other (noted), but in general, it's good
// to designate parameters for both processes and use the same config file.


///////////// REQUIRED PARAMETERS (both processes): /////////////

// The output directory - where to put the output
params.output_dir = "/net/bbi/vol1/data/hpliner/2lvl_20190222"

/*  Sample sheet in csv format with 3 columns, RT Barcode, Sample ID and
    Reference Genome to be mapped against

For example:

RT Barcode,Sample ID,Reference Genome
2P5-A01,Brain Fresh N Tris,Mouse
2P5-A02,Brain Fresh Y Tris,Mouse
2P5-A03,Brain Frozen N Tris,Mouse

*/
params.sample_sheet = "/net/bbi/vol1/data/hpliner/2lvl_20190222/SampleSheet.csv"

// Whether the run is 2-level or 3-level
params.level = 2

// The queue on the cluster where the jobs should be submitted
process.queue = 'shendure-long.q'


///////////// REQUIRED PARAMETERS (bbi-dmux): /////////////

// The run directory where the sequencing data is
params.run_dir = "/net/bbi/vol1/seq/nextseq/190222_NS500773_0289_AHMJGTBGX7"

// The p7 and p5 PCR rows/columns used. p7 order should be matched in p5. For
// example, if you used row D with column 4 for one PCR plate and row E and
// column 5 for the other, then you would have:
params.p7_rows = 'D E'
params.p5_cols = '4 5'

// Alternatively: if you only used a few wells of PCR barcodes, you can provide
// well coordinates instead of p7_rows and p7_cols. In that case, do not include
// the lines above. If you include both sets of parameters, then the rows/columns
// will take precedence. As above, the wells must have matching order between p5
// and p7.
//
// For either the rows/cols or wells formulation, you can substitute one (p5 or p7)
// for "none". In this case, the run will be assumed to only have the other index read.
//
// params.p7_wells = 'D3 E3'
// params.p5_wells = 'B2 B7'


///////////// REQUIRED PARAMETERS (bbi-sci): /////////////

// demux_out directory - the directory where the output of demux is (will be) found -
params.demux_out = "/net/bbi/vol1/data/hpliner/2lvl_20190222/demux_out"



///////////// OPTIONAL PARAMETERS (both processes): /////////////
// only include if you want to override the default (noted), uncomment to use

/* Add path to custom RT barcode file - default: uses included barcode set

The custom barcode file should be a tab separated file in the form:

P1-A01	TCCTACCAGT
P1-A02	GCGTTGGAGC
P1-A03	GATCTTACGC

The barcode names in the first column to not have to be in the plate-well format,
but if they are not, then the qc plots in the demux dash won't show up as plates

*/
//params.rt_barcode_file = "/net/bbi/vol1/data/hpliner/barcode_file.txt"

// The maximum number of cores to be used per job on the cluster, default: 16
//params.max_cores = 8

// The maximum number of processes to run at the same time on the cluster, default: 20
// Speeds up considerably when larger, but leaves less space for others!
//process.maxForks = 50

// Path to custom genomes files - if using one of the supported genomes, not necessary. For an example, see
// here: https://github.com/bbi-lab/bbi-sci/blob/master/bin/star_file.txt and here:
// https://github.com/bbi-lab/bbi-sci/blob/master/bin/gene_file.txt
//params.star_file = "/net/bbi/vol1/data/hpliner/2lvl_20190222/custom_star.txt"
//params.gene_file = "/net/bbi/vol1/data/hpliner/2lvl_20190222/custom_gene_file.txt"


///////////// OPTIONAL PARAMETERS (bbi-dmux): /////////////

// The maximum number of GB of RAM to assign for bcl2fastq, default: 40
//params.bcl_max_mem = 40

// Is this a very large run? (Nova?) - when params.large = true, the fastqs are split into
// smaller chunks (see params.fastq_chunk_size) and run through demux separately - the separation
// takes a long time itself, so only speeds up processing with large runs.
//params.large = true

// The number of reads that should be processed together during demux if using 'large' parameter.
// Default: 100000000
//params.fastq_chunk_size = 100000000


///////////// OPTIONAL PARAMETERS (bbi-sci): /////////////

// Rerun specific samples. If you want to rerun only certain samples (starting with trimming).
//params.samples = ["sampleid1", "sampleid2"]

// The umi cutoff to be called a cell in matrix output, default: 100
//params.umi_cutoff = 100

// The maximum number of wells that a sample can be in before splitting the sample
// up to improve efficiency. Default: 20. Mostly useful for hashing experiments.
//params.max_wells_per_sample = 5

// Path to a tab-delimited file with at least two columns, first the hash name and
// second the hash barcode sequence. Default is false to indicate no hashing.
//params.hash_list ="/net/bbi/vol1/data/hpliner/hash_file.txt"

// Whether to skip doublet detection (e.g. scrublet) - this is good for very large datasets where scrublet
// can take huge amounts of memory and time
//params.skip_doublet_detect = true
