/*
** NOTE: This example file is the same for bbi-dmux and bbi-sci. Some parameters
** are only required in one process or the other (noted), but in general, it's good 
** to designate parameters for both parameters and use the same config file.
*/


/*
***************************************************************
************ REQUIRED PARAMETERS (both pipelines): ************
***************************************************************
*/

/*
** The output directory - where to put the output
*/
params.output_dir = "/net/bbi/vol1/data/hpliner/2lvl_20190222"

/* Sample sheet in csv format with 3 columns, RT Barcode, Sample ID and
** Reference Genome to be mapped against
**
** For example:
**
** RT Barcode,Sample ID,Reference Genome
** 2P5-A01,Brain Fresh N Tris,Mouse
** 2P5-A02,Brain Fresh Y Tris,Mouse
** 2P5-A03,Brain Frozen N Tris,Mouse
*/
params.sample_sheet = "/net/bbi/vol1/data/hpliner/2lvl_20190222/SampleSheet.csv"

/*
** Whether the run is 2-level or 3-level
*/
params.level = 2

/*
** The queue on the cluster where the jobs should be submitted
*/
process.queue = 'shendure-long.q'


/*
***************************************************************
*************** REQUIRED PARAMETERS (bbi-dmux): ***************
***************************************************************
*/

/*
** The run directory where the sequencing data is
*/
params.run_dir = "/net/bbi/vol1/seq/nextseq/190222_NS500773_0289_AHMJGTBGX7"


/*
** Option 1: the p7 and p5 PCR rows/columns used. p7 order should be matched
** in p5. 'none' is permitted for either params.p7_rows or params.p5_cols but
** not both. For example, if you used row D with column 4 for one PCR plate and
** row E and column 5 for the other, then you would have: 
*/
params.p7_rows = 'D E'
params.p5_cols = '4 5'

/*
** Option 2: if you used only a few wells of PCR barcodes, you can provide
** well coordinates instead of p7_rows and p5_cols. In that case, do not include
** the lines above. If you include both sets of parameters, then the rows/columns
** will take precedence. As above, the wells must have matching order between p5 
** and p7.
**
** 'none' is permitted for either params.p7_wells or params.p5_wells but not
** both.
*/
// params.p7_wells = 'D3 E3'
// params.p5_wells = 'B2 B7'

/*
** Option 3: the PCR primer pairs can be defined in a CSV file with
** a header on the first line and PCR primer pairs on subsequent lines.
** The header line is
**   pcr_rxn_name,p5_well,p5_index,p7_well,p7_index
** and primer pair lines look like
**   p1-a10,A05,acgtatgcat,B06,tacgtatgca
** or
**   p1-a10,P01-A05,acgtatgcat,P01-B06,tacgtatgca
** The alphabetic characters are converted to upper case when
** the file is read.
** 'none' is permitted in either the p5_index or p7_index column
** but not both. If 'none' is in any row, it must be in all.
** Note that the demultiplexing script trims index sequences to
** --p5_length and --p7_length, which is set to 10 bases by default.
** (When P5 is reverse complemented, it is trimmed after conversion.)
** This will be a problem if the index sequences are not distinct after
** trimming.
**
** The params.pcr_index_pair_file parameter cannot be used in combination
** with any of the following parameters
**   params.p5_cols
**   params.p7_rows
**   params.p5_wells
**   params.p7_wells
**   params.multi_exp
**   params.p5_barcode_file
**   params.p7_barcode_file
*/
// params.pcr_index_pair_file = <file name>

/*
** Option 4: if you are using PCR barcodes for demux as well (multi-experiment)
** then you should use the map format to provide your pcr wells. They must be in the 
** format shown below (a string making up a python dictionary):
** params.multi_exp = "{'Experiment 1':('D E', '4 5'), 'Experiment 2':('F', '3')}"
** or
** params.multi_exp = "{'Experiment 1':('D3 E3', 'B2 B7'), 'Experiment 2':('F4', 'G3')}
**
** For this option, the sample sheet file rows must include the experiment
** identifier in the last column.
**
** 'none' is not allowed.
**
** The params.multi-exp parameter cannot be used in combination with any of
** the following parameters
**   params.p5_cols
**   params.p7_rows
**   params.p5_wells
**   params.p7_wells
*/
// params.multi_exp = "{'Experiment 1':('D E', '4 5'), 'Experiment 2':('F', '3')}"
// params.multi_exp = "{'Experiment 1':('D3 E3', 'B2 B7'), 'Experiment 2':('F4', 'G3')}

/*
** The precedence of these parameters is
**   p7_rows and p5_cols
**   p7_wells and p5_wells
**   pcr_index_pair_file
**   multi_exp
*/


/*
**************************************************************
*************** REQUIRED PARAMETERS (bbi-sci): ***************
**************************************************************
*/

/*
** demux_out directory - the directory where the output of demux is (will be) found - 
*/
params.demux_out = "/net/bbi/vol1/data/hpliner/2lvl_20190222/demux_out"


/*
**************************************************************
************ OPTIONAL PARAMETERS (both pipelines): ***********
**************************************************************
*/

/*
** Include only if you want to override the default (noted), uncomment to use.
*/

/*
** Add path to custom RT barcode file - default: uses included barcode set
**
** The custom barcode file should be a tab separated file in the form:
**
** P1-A01	TCCTACCAGT	
** P1-A02	GCGTTGGAGC	
** P1-A03	GATCTTACGC
**
** The barcode names in the first column to not have to be in the plate-well format, 
** but if they are not, then the qc plots in the demux dash won't show up as plates.
*/
//params.rt_barcode_file = "/net/bbi/vol1/data/hpliner/barcode_file.txt"

/*
** The maximum number of cores to be used per job on the cluster, default: 16
*/
//params.max_cores = 8

/*
** The maximum number of processes to run at the same time on the cluster, default: 20
** Speeds up considerably when larger, but leaves less space for others!
*/
//process.maxForks = 50

/*
** Path to custom genomes files - if using one of the supported genomes, not necessary.
** For an example, see here:
**   https://github.com/bbi-lab/bbi-sci/blob/master/bin/star_file.txt and here:
**   https://github.com/bbi-lab/bbi-sci/blob/master/bin/gene_file.txt
*/
//params.star_file = "/net/bbi/vol1/data/hpliner/2lvl_20190222/custom_star.txt"
//params.gene_file = "/net/bbi/vol1/data/hpliner/2lvl_20190222/custom_gene_file.txt"

/*
** Demultiplex samples by rt-wells instead of by sample names in bbi-dmux pipeline
** Analyze samples at rt-level instead of sample-level in bbi-sci pipeline. 
**Fastqs must be demultiplexed by rt-wells. Default is false.
*/
//params.hash_rt_split = true


/*
**************************************************************
************** OPTIONAL PARAMETERS (bbi-dmux): ***************
**************************************************************
*/

/*
** The maximum number of GB of RAM to assign for bcl2fastq, default: 40
*/
//params.bcl_max_mem = 40   

/*
** Add path to custom p5 barcode file - default: uses included barcode set
**
** The custom barcode file should be a tab separated file in the form:
**
** A01	TCCTACCAGT	
** A02	GCGTTGGAGC	
** A03	GATCTTACGC
**
** Currently, the only accepted option is to have one plate of p5 barcodes in the
** format shown. In future we will add the functionality to have multiple plates.
*/
//params.p5_barcode_file = "/net/bbi/vol1/data/hpliner/barcode_file.txt"

/*
** Add path to custom p7 barcode file - default: uses included barcode set
**
** The custom barcode file should be a tab separated file in the form:
**
** A01	TCCTACCAGT	
** A02	GCGTTGGAGC	
** A03	GATCTTACGC
**
** Currently, the only accepted option is to have one plate of p7 barcodes in the
** format shown. In future we will add the functionality to have multiple plates.
*/
//params.p7_barcode_file = "/net/bbi/vol1/data/hpliner/barcode_file.txt"

/*
** Add path to custom ligation barcode file - default: uses included barcode set
**
** The custom barcode file should be a tab separated file in the form:
**
** LIG1	ACTTGATTGT
** LIG2	TAATCAGCTT
** LIG3	TAAGAATGGT
** LIG4	ACAACCTATT
**
** Currently, the only accepted option is to have 365 ligation barcodes in the
** format shown. In future we will add the functionality to make this more flexible.
*/
//params.lig_barcode_file = "/net/bbi/vol1/data/hpliner/barcode_file.txt"

/*
** Path to BAT-lab lims generated sample sheet. Pipeline will convert to proper 
** sample sheet format. params.lims_sample_sheet default is 'no_input'.
** params.generate_samplesheets default is false. 
*/
//params.lims_sample_sheet = "path/to/lims_sample_sheet"
//params.generate_samplesheets = true


/*
**************************************************************
*************** OPTIONAL PARAMETERS (bbi-sci): ***************
**************************************************************
*/

/*
** Rerun specific samples. If you want to rerun only certain samples (starting with trimming). 
*/
//params.samples = ["sampleid1", "sampleid2"]

/*
** The umi cutoff to be called a cell in matrix output, default: 100
*/
//params.umi_cutoff = 100                    

/*
** The maximum number of wells that a sample can be in before splitting the sample
** up to improve efficiency. Default: 20. Mostly useful for hashing experiments.
*/
//params.max_wells_per_sample = 5

/*
** Path to a tab-delimited file with at least two columns, first the hash name and 
** second the hash barcode sequence. Default is false to indicate no hashing.
*/
//params.hash_list ="/net/bbi/vol1/data/hpliner/hash_file.txt"

/*
** Minimum hash umi cutoff if hash run. Default is 5.
*/
//params.hash_umi_cutoff = 5

/*
** Minimum hash top-second-best ratio cutoff if hash run. Default is false.
*/
//params.hash_ratio = false

/*
** Minimum hash umi cutoff if hash run. Default is 5.
*/
//params.hash_umi_cutoff = 5

/*
** Calculate hash duplication rate by pcr plate if hash run. 
** Default is false. Other options are "p5" or "pcr_plate". 
** params.hash_list must also be true.
*/
//params.hash_dup = 'p5' 
